<!DOCTYPE html>
<html lang="de">
    <head>    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>YouTube Webserver</title>
        
    </head>
    <body>
        <div id="description">
            <h1>YouTube Livestreaming Webserver</h1>
            <p>Dieser Webserver dient zur Automatisierung für Youtube Livestreams. Dafür werden die <a href="https://developers.google.com/youtube/v3" target="_blank">
                YouTube Data API</a> und die <a href="https://developers.google.com/youtube/v3/live/getting-started" target="_blank">
                YouTube Livestreaming API</a> genutzt. Bedient werden sollen die Funktionen des Webserver in erster Linie mit der OpenSource Software
                <a href="https://bitfocus.io/companion/" target="_blank">Companion</a> in Kombination mit dem Streamdeck, kann aber über dieses Menü getestet und bedient werden.</p>
        </div>
        <div class="container" id="create_container">
            <div class="containerHead">
                <span class="containerTitle">Neuen Stream planen</span>
                <span class="containerEvent">createStream</span> 
            </div>
            <div class="containerBody">
                <div style="display: flex;">
                    <span class="containerDesc">Titel:</span>
                    <input type="text" name ="input_title" class="input" id="input_title"/>
                </div>
                <div>
                    <span class="containerDesc">Datum:</span>
                    <input type="datetime-local" class="input" id="input_dateTime" value=""/>
                </div>
                <button class="button" id="send_create">Neuen Stream erstellen</button>
                <script>
                    //Due to bullshit, Timezone Offset isn't possible without some serious hacking
                    document.querySelector('#input_dateTime').value = new Date().toISOString().split('.')[0];
                    
                    document.querySelector('#send_create').addEventListener('click', function(){
                        var title = document.querySelector('#input_title').value;
                        var date = document.querySelector('#input_dateTime').value;
                        var data = {
                            'title': title,
                            'date': date
                        };
                        var xhr = new XMLHttpRequest();
                        xhr.open("POST","localhost:8002/add",true);
                        xhr.setRequestHeader("Content-Type","application/json");
                        xhr.send(data);
                        alert('next stream: \ntitle: ' + title + '\ndate: ' + date);
                    })
                </script>
            </div>  

        </div>
        <div class="container" id="start_container">
            <div class="containerHead">
                <span class="containerTitle">Stream starten</span>
                <span class="containerEvent">startStart</span> 
            </div>
            <div class="containerBody">
                <div style="display: flex;">
                    <span class="containerDesc">Stream:</span>
                    <input type="text" class="input" id="input_nextStream"/>
                </div>
                <button class="button" id="send_start">Stream starten</button>
                <button class="button" id="stream_link">Link öffnen</button>
                <script>
                    document.querySelector('#send_start').addEventListener('click', function(){
                        var titleStart = document.querySelector('#input_nextStream').value;
                        alert('onStart was triggered: ' + titleStart);
                    })
                    document.querySelector('#stream_link').addEventListener('click', function(){
                        alert('onLink was triggered');
                    })
                </script>
            </div>
        </div>
        <div class="container" id="end_container">
            <div class="containerHead">
                <span class="containerTitle">Stream beenden</span>
                <span class="containerEvent">endStream</span> 
            </div>
            <div class="containerBody">
                <div style="display: flex;">
                    <span class="containerDesc">aktuell:</span>
                    <input type="text" class="input" id="input_currentStream" readonly/>
                </div>
                 <button class="button" id="send_end">Stream beenden</button>
                 <script>
                     document.querySelector('#send_end').addEventListener('click', function(){
                        alert('onEnd was triggered');
                     })
                 </script>
            </div>
        </div>
    </body>
</html>